@tailwind base;
@tailwind components;
@tailwind utilities;

.gql div[role='separator'] {
  z-index: 10000;
}

.gql div[data-panel-id='gql-panel'] {
  overflow: auto !important;
}

.gql .graphiql-editor .CodeMirror {
  position: unset;
  height: auto;
  /*overflow: unset;*/
  /*display: contents;*/
}
