@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding-x {
    @apply px-3 sm:px-4 md:px-8 lg:px-12;
  }
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 15px;
}

.custom-button {
  padding: 6px 10px;
  border-radius: 4px;
}

.custom-button:hover {
  background-color: chocolate;
}
